#container{
    margin: 0 auto;
    max-width: 900px;
}

nav{
    position: fixed;
    z-index: 1;
    background: #000;
    width: 100%
}

ul li{
    display: inline-block;
    padding: 0 10px
}
ul li a{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}

#container p{
    -webkit-column-count:2;
    column-count:2;
    column-fill: balance;
    column-gap: 20px;
    text-align: justify;
    column-rule: 2px solid black;
    
}
#banner {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    margin: 1%;
    top:60px
}
#banner h2{
    position: absolute;
    top:10px;
    width: 100%;
    text-align: center;
    color:#fff;
    margin: 0;
}

